<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="cv.css">
</head>
<body>
<header>
    <img src="photoCv.png" alt="photo Cv" class="photoCv"/>
    <h1>Yaya MALLE</h1><br/><br/><br/>
    Développeur Full Stack
</header>

<h2>Formations</h2>
<p class="formations">
<ul>
    <li><strong>2014 Master 2 Ingénierie des Réseaux et Systèmes</strong> à l’Université de Versailles
        Saint Quentin en Yvelines(UVSQ) en partenariat avec l’AFTI centre de formation supérieur en
        informatique Orsay (<em>Mention: Assez-bien</em>).
    </li>

    <li>
        <strong>2012 Titulaire Licence Informatique</strong> à l'UFR des sciences de Versailles (UVSQ).
    </li>
    <li>
        <strong>2011 Certificat informatique et internet</strong> à l'UFR des sciences de Versailles (UVSQ).
    </li>
    <li>
        <strong>2007 Baccalauréat Scientifique.</strong>
    </li>
</ul>

</p>
<h2>Expériences Proféssionnelles</h2>
<h3>Entreprises</h3>
<p>
    <li><strong>2015-Présent Ingénieur d’Études et Développement - Sopra-Steria</strong> <em>(Entreprise de Service
        Numérique)</em>
        <ul>
            <li><strong>BforBank- Défense</strong>(avril 2016 - en cours)- Multi-projets :<em> Spring (Boot ,Core, Mvc,
                Data, Security), Java 8, Rest, Soap, Feign, Microservices, Swagger, JUnit, Mockito, TDD, Thymeleaf,
                Angular 5, Git, Bamboo</em>
            </li>
            <li>
                <strong>Banque de France</strong>(7 mois) - Projet NUMER :<em>Ejb, Mdb, Jms, Spring-data, AngularJS,
                Bootstrap</em>
            </li>
            <li>
                <strong>Apria Rsa</strong>(6 mois) - Projet GSICASS : <em>Struts2, Jsp, Web service Soap, WebSphere</em>
            </li>
            <li>
                <strong>Allianz-Défense </strong>
                (3 mois) - Projet MRE - MultiRisque Entreprise :<em>Spring, Web service Rest, AngularJS</em>
            </li>
        </ul>

<li>
    <strong> 2013-2014 Apprenti Chef de Projet Java/JEE - SFR</strong>
    Au sein de l’équipe du Workflow Services Fixes, j’ai réalisé dans le cadre de mon apprentissage:
    <ul>
        <li>La Sécurisation d’un intranet (JAVA, JSP, ORACLE, SQL).</li>
        <li>La Création des Interfaces <em>(JAVA EE, HTML5, CSS3, JAVASCRIPT, JSP et IBATIS)</em>.</li>
        <li>Des Scripts de Purge des tables de la base de données <em>( PERL ,SQL)</em>.</li>
        <li>La Correction d’anomalies sur les applications existantes <em>(JAVA/JEE, PERL, PHP)</em>.</li>
        <li>La Rédaction des spécifications fonctionnelles et techniques</li>
    </ul>
</li>

</p>
<h3>Projets d'école</h3>
<p>
<ul>
    <li><strong>2013 Développement JAVA/JEE & Infrastructure Réseau</strong>
        Mise en place d'un Call Center pour les clients de la société ResJ fournisseur des
        équipements de haute technologie de niveau 2, et son IHM de gestion.
    </li>
    <li><strong>2012 Développement C++ (Projet Licence de 6 mois)</strong>
        Mise en place d'un mécanisme de simulation du Réseau des files d'attente.
    </li>
    <li><strong>2011 Développement C++ avec l'utilisation de la Bibliothèque QT </strong>
        Mise en place d’un simulateur du système carburant des avions de chasse.
    </li>
</ul>
</p>
<h3>Divers</h3>
<p>
<ul>
    <li><strong>2009 Conseillé client en Rayon Informatique</strong> (Matériel Informatique)</li>
    <li><strong>2008 Inventoriste</strong>, Mission centres commerciaux -Société MANPOWER.</li>
    <li><strong>2007 Formateur Microsoft Office</strong> - CYBER INFO SARL</li>
    <li></li>
</ul>
</p>
<h2>Compétences Informatiques</h2>
<p>
<ul>
    <li><strong>Langages informatiques</strong> Java/JEE, C/C++, Perl.</li>
    <li><strong>Outils de développement</strong> Intellij,Code Blocks, Geany, Git, Svn, Maven,Sonar, Jenkins, Bamboo.
    </li>
    <li><strong>Frameworks</strong> Hibernate, Ibatis, Spring boot, Spring.</li>
    <li><strong>Serveurs & BDD</strong> Tomcat, Jboss, Glassfish, Oracle, Mysql.</li>
    <li><strong>Web services</strong> Rest, Soap.</li>
    <li><strong>Réseaux</strong> TCP/IP, LAN, WAN, IPV6, OSPF, EIGRP, RIPv2, IS-IS.</li>
    <li><strong>Langues</strong> Anglais: niveau intermédiaire, Allemand : notion</li>
    <li></li>
</ul>
</p>
<h2>Loisirs</h2>
<p>
<ul>
    <li><strong>Lecture</strong></li>
    <li><strong>Sport</strong></li>
    <li><strong>Voyage</strong></li>
</ul>

</p><hr/>
<footer>
    contact :https://www.linkedin.com/in/yaya-malle-95401ba4/
</footer>
</body>
</html>