<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memorisation</title>
</head>
<body>
<h1>MEMORISATION ET CONSEIL TUTORIAL HTML 5</h1>
<h2>Les liens vers un autre site avec des & comme paramètre </h2>
<ul>
    <li title="InfoBulle site"><a href="index.html"><strong><mark><em>Retour sur le site</em></mark></strong></a></li>
</ul>
<p>
    Si vous faites un lien vers un site qui comporte une adresse un peu bizarre avec des <strong>& </strong>, comme
    : <strong>http://www.site.com/?data=15&name=mateo21</strong> ,<br/> vous devrez remplacer tous les<strong> « &
    » </strong> par <strong>« '&amp;' » </strong> dans votre lien comme
    ceci :<strong>http://www.site.com/?data=15&amp;name=mateo21</strong>.<br/>
    Vous ne verrez pas la différence, mais cela est <strong>nécessaire</strong> pour avoir une page web<strong>
    correctement construite en HTML</strong>
</p>

<p>Connaissez-vous le logiciel Bloc-Notes ? On peut faire des sites web avec !</p>

<figure>
    <img src="carteIdentite.jpg" alt="Bloc-Notes" />
    <figcaption>Le logiciel Bloc-Notes</figcaption>
</figure>

<p><a href="mailto:votrenom@bidule.com">Envoyez-moi un e-mail !</a></p>

</body>
</html>