<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Zozor</title>
    <link rel="stylesheet" href="../../static/assets/css/site.css">
</head>
<body>
<!-- DIV Header Web site-->
<div id="main_wrapper">
    <header>
        <div id="principal_title">
            <div id="logo">
                <img src="../../static/images/zozor_logo.png" alt="image"/>
                <h1>Zoror </h1>
            </div>
            <h2>Carnets de voyage</h2>
        </div>

        <nav>
            <ul>
                <li><a href="#">ACCUEIL</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CV</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <!--Seconde Block Web site -->
    <div id="banniere_image">
        <div id="banniere_description">
            Retour sur mes vacances aux Etats-Unis...
            <a href="#" class="buton_rouge">Voir l'article <img src="../../static/images/flecheblanchedroite.png"
                                                                   /></a>
        </div>
    </div>

    <!--Section  Bloc-->
    <section>
        <article>
            <h1>
                <img src="../../static/images/ico_epingle.png" height="47" width="43"/>
                JE SUIS UN GRAND VOYAGEUR
            </h1>
            <p>Vivamus sed libero nec mauris pulvinar facilisis ut non sem. Quisque mollis ullamcorper diam vel
                faucibus. Vestibulum sollicitudin facilisis feugiat. Nulla euismod sodales hendrerit. Donec quis
                orci
                arcu. Vivamus fermentum magna a erat ullamcorper dignissim pretium nunc aliquam. Aenean pulvinar
                condimentum enim a dignissim. Vivamus sit amet lectus at ante adipiscing adipiscing eget vitae
                felis. In
                at fringilla est. Cras id velit ut magna rutrum commodo. Etiam ut scelerisque purus. Duis risus
                elit,
                venenatis vel rutrum in, imperdiet in quam. Sed vestibulum, libero ut bibendum consectetur, eros
                ipsum
                ultrices nisl, in rutrum diam augue non tortor. Fusce nec massa et risus dapibus aliquam vitae nec
                diam.</p>
            <p>Phasellus ligula massa, congue ac vulputate non, dignissim at augue. Sed auctor fringilla quam quis
                porttitor. Praesent vitae dignissim magna. Pellentesque quis sem purus, vel elementum mi.
                Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas
                consectetur
                euismod urna. In hac habitasse platea dictumst. Quisque tincidunt porttitor vestibulum. Ut iaculis,
                lacus at molestie lacinia, ipsum mi adipiscing ligula, vel mollis sem risus eu lectus. Nunc elit
                quam,
                rutrum ut dignissim sit amet, egestas at sem.</p>
        </article>

        <aside>
            <h1> A PROPOS DE L'AUTEUR</h1>
            <img src="../../static/images/bulle.png" id="fleche_bulle" height="17" width="12"/>
            <p id="photo_zozor">
                <img src="../../static/images/zozor_classe.png" height="116" width="139"/>
            </p>

            <p>Laisse-moi le temps de me présenter&nbsp;: je m'appelle Zozor, je suis né un 23 novembre 2005.</p>
            <p>Bien maigre, n'est-ce pas ? C'est pourquoi, aujourd'hui, j'ai décidé d'écrire ma biographie afin que
                vous
                sachiez qui je suis réellement.</p>

            <p>
                <img src="../../static/images/facebook.png" alt="Facebook"/>
                <img src="../../static/images/twitter.png" alt="Twitter"/>
                <img src="../../static/images/vimeo.png" alt="Vimeo"/>
                <img src="../../static/images/flickr.png" alt="Flickr"/>
                <img src="../../static/images/rss.png" alt="RSS"/></p>

            <div>

            </div>
        </aside>
    </section>


    <!--footer Web site-->
    <footer>
        <div id="tweet">
            <h1>Mon dernier tweet</h1>
            <p>Hii haaaaaan !</p>
            <p>le 12 mai à 23h12</p>
        </div>

        <div id="mes_photos">
            <h1>Mes photos</h1>
            <p>
                <img src="../../static/images/photo1.jpg" alt="Photographie"/>
                <img src="../../static/images/photo2.jpg" alt="Photographie"/>
                <img src="../../static/images/photo3.jpg" alt="Photographie"/>
                <img src="../../static/images/photo4.jpg" alt="Photographie"/>
            </p>
        </div>

        <div id="mes_amis">
            <h1>Mes amis</h1>
            <div id="listes_amis">
                <ul>
                    <li><a href="#">Pupi le lapin</a></li>
                    <li><a href="#">Mr Baobab</a></li>
                    <li><a href="#">Kaiwaii</a></li>
                    <li><a href="#">Perceval.eu</a></li>
                </ul>
                <ul>
                    <li><a href="#">Belette</a></li>
                    <li><a href="#">Le concombre masqué</a></li>
                    <li><a href="#">Ptit prince</a></li>
                    <li><a href="#">Mr Fan</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>